
[unresolved] {
	opacity: 0;
	/* other custom styles for unresolved elements */
}

html, body {
	height: 100%;
	font-family: Arial;
}

body {
	background-color: #EEE;
}

html /deep/ button, button {
	transition: all 0.3s ease-in-out;
	background: rgba(255,255,255,0.3);
	border: 1px solid rgba(255,255,255,0.6);
	text-shadow: 0 0 1px #000;
	color: #fff;
	height: 45px;
	font-size: 14px;
	margin: 5px;
}
html /deep/ button:hover, button:hover {
	background: rgba(255,255,255,0.1);
}

/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=73w0I0kl1Wx1x+IcEXDsUWkWEVB */

/* Feel free to copy&paste color codes to your application */

/* forground */
.color-primary-0 { color: #5DB4F2 }	/* Main Primary color */
.color-primary-1 { color: #F3FAFE }
.color-primary-2 { color: #9AD0F5 }
.color-primary-3 { color: #259DF2 }
.color-primary-4 { color: #028DF0 }

.color-secondary-1-0 { color: #8666F4 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #F6F4FE }
.color-secondary-1-2 { color: #B4A0F7 }
.color-secondary-1-3 { color: #5D31F3 }
.color-secondary-1-4 { color: #3904F2 }

.color-secondary-2-0 { color: #FFE158 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFFDF3 }
.color-secondary-2-2 { color: #FFED9A }
.color-secondary-2-3 { color: #FFD619 }
.color-secondary-2-4 { color: #FFD200 }

.color-complement-0 { color: #FFB658 }	/* Main Complement color */
.color-complement-1 { color: #FFFAF3 }
.color-complement-2 { color: #FFD39A }
.color-complement-3 { color: #FF9B19 }
.color-complement-4 { color: #FF9000 }

/* background */
.bg-color-primary-0 { background-color: #5DB4F2 }	/* Main Primary color */
.bg-color-primary-1 { background-color: #F3FAFE }
.bg-color-primary-2 { background-color: #9AD0F5 }
.bg-color-primary-3 { background-color: #259DF2 }
.bg-color-primary-4 { background-color: #028DF0 }

.bg-color-secondary-1-0 { background-color: #8666F4 }	/* Main Secondary color (1) */
.bg-color-secondary-1-1 { background-color: #F6F4FE }
.bg-color-secondary-1-2 { background-color: #B4A0F7 }
.bg-color-secondary-1-3 { background-color: #5D31F3 }
.bg-color-secondary-1-4 { background-color: #3904F2 }

.bg-color-secondary-2-0 { background-color: #FFE158 }	/* Main Secondary color (2) */
.bg-color-secondary-2-1 { background-color: #FFFDF3 }
.bg-color-secondary-2-2 { background-color: #FFED9A }
.bg-color-secondary-2-3 { background-color: #FFD619 }
.bg-color-secondary-2-4 { background-color: #FFD200 }

.bg-color-complement-0 { background-color: #FFB658 }	/* Main Complement color */
.bg-color-complement-1 { background-color: #FFFAF3 }
.bg-color-complement-2 { background-color: #FFD39A }
.bg-color-complement-3 { background-color: #FF9B19 }
.bg-color-complement-4 { background-color: #FF9000 }